.navBar{
    background-color: blue;
    height: 60px;
}
#divButton{
    color: white;
    border: none;
    background-color: blue;
    height: 60px;
    width: 90px;
    font-weight: bold;
    font-family: sans-serif;

}
#divButton:hover{
    background-color: rgb(14,4,191);
}
.stopsWatchcontainer{
    position: relative;
    justify-content: center;
    text-align: center;
    height: 200px;
}
.timerContainer{
    position: relative;
    justify-content: center;
    text-align: center;    
}
